body {
    background-image: url(img/pattern.png);
}
.container {
    margin: 0 auto;
    width: 1440px;
    font-family:sans-serif;
}
.header {
    width: 100%;
    font-family: sans-serif;
    background-color:#E7F9FF;
    position: sticky;
    top: 0;
    padding: 10px 0;
}
.header_navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.hamburger-menu {
    display: none;
}
.logo {
    width: 75px;
}
#menu__toggle {
    display: none;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 35px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #066CA5;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #E7F9FF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #066CA5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #76c1e1;
}
.menu {
    display: flex;
    flex-grow: 1;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.button {
    background-color: #066CA5;
    text-align: center;
    color: #ffff;
    border: none;
    border-radius: 5px;
}
.menu ul li a {
    text-decoration: none;
    color: #066CA5;
    font-size: 20px;
}
.main-info {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-between;
    padding-top: 100px;
}
.main-info__title {
    display: block;
    padding: 40px 15px;
    color: #066CA5;
}
.main-info__title h1 {
    font-size: 65px;
}
.main-info__title .small_device {
    display: none;
}
.main-info__title h2 {
    font-size: 40px;
}
.main-info__title h3 {
    font-size: 30px;
}
.main-info__title ul {
    font-size: 25px;
    list-style-type:disc;
}
.main-info__img {
    display: block;
    width: 552px;
    height: 828px;
}
.main-info__img_small {
    display: none;
    margin-bottom: 15px;
}
.about-me {
    width: 100%;
    background-image: url(img/pattern_2.png);
    padding-top: 100px;
}
.about-me .container {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-between;
    align-items: flex-end;
}
.about-me__title {
    display: block;
    padding: 10px 15px;
    color: #066CA5;
}
.about-me__img {
    display: block;
}
.about-me__title h1 {
    font-size: 65px;
    margin-bottom: 30px;
}
.about-me__title h2 {
    font-size: 30px;
    margin-bottom: 5px;
}
.about-me__title p {
    font-size: 22px;
    margin-bottom: 10px;
}
.about-me__title ul {
    font-size: 18px;
    list-style-type:disc;
}
.reasons {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.reasons__title {
    display: block;
    padding: 10px 15px;
    color: #066CA5;
}
.reasons__title h1 {
    font-size: 65px;
    margin-bottom: 30px;
}
.reasons__title h2 {
    font-size: 25px;
    margin-bottom: 20px;
}
.reasons__title p {
    font-size: 20px;
    margin-bottom: 10px;
}
.reasons__title ul {
    font-size: 18px;
    list-style-type:disc;
}

.reasons__img {
    display: block;
    width:100%;
    padding-left:120px ;
}
.contacts {
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: #066CA5;
    padding-top: 100px;
}
.contacts__text {
    text-align: center;
}
.contacts__text h1 {
    font-size: 65px;
    margin-bottom: 30px;
}
.contacts__text h2 {
    font-size: 25px;
    margin-bottom: 20px;
}
.contacts__text p {
    font-size: 25px;
    margin-bottom: 10px;
}
.contacts__icons {
    display: flex;
    width: 70%;
    margin: 80px auto;
    justify-content: center;
}
.contacts__icons a {
    margin: 0 10px;
}

@media screen and (max-width: 820px) {
    .hamburger-menu {
        display: block;
    }
    .menu {
        display: none;
        width: 100%;
    }   
    .container {
        display: block;
        float: none;
        width: 100%;
        flex-direction: column;
    }
    .main-info {
        padding-top: 50px;
    }
    .main-info__title {
        padding: 0 15px;
    }
    .main-info__img {
        display: none;
    }
    .main-info__img_small {
        display: block;
    }
    .main-info__title h1 {
        display: none;
    }
    .main-info__title h2 {
        font-size: 20px;
        text-align: center;
    }
    .main-info__title ul {
        font-size: 18px;
        text-align:left;
    }
    .main-info__title h3 {
        font-size: 18px;
        text-align: center;
    }
    .main-info__title .small_device {
        display: block;
        font-size: 27px;
        text-align: center;
    }
    .about-me {
        align-items: center;
        padding-top: 40px;
    }
    .about-me__title h1 {
        font-size: 27px;
        text-align: center;
    }
    .about-me__title h2 {
        font-size: 20px;
        text-align: center;
    }
    .about-me__title p {
        font-size: 18px;
        text-align: left;
    }
    .about-me__title ul {
        font-size: 18px;
        text-align: left;
    }
    .about-me__img {
        display: none;
    }
    .reasons {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .reasons__title  {
        align-items: center;
    }
    .reasons__title h1 {
        font-size: 27px;
        text-align: center;
    }
    .reasons__title h2 {
        font-size: 20px;
        text-align: center;
    }
    .reasons__title p {
        font-size: 18px;
        text-align: left;
    }
    .reasons__img {
        padding-left: 0;
    }
    .contacts{
        padding-top: 40px;
    }
    .contacts__text h1 {
        font-size: 27px;
        text-align: center;
    }
    .contacts__text h2 {
        font-size: 20px;
        text-align: center;
    }
    .contacts__text p {
        font-size: 18px;
        text-align: center;
    }
    .contacts__icons {
        max-width: 50%;
        margin: 35px auto;
    }
    body {
        background-image: none;
    }
}